@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <div class="row">
@*        <div class="row">
            <!-- small card -->
            <div class="small-box bg-info">
                <div class="inner">
                    <p>Master Module</p>
                </div>
                <div class="icon">
                    <i class="fas fa-shopping-cart"></i>
                </div>
                <a asp-area="" asp-controller="MsModule" asp-action="Index" class="small-box-footer">
                    Check This Out <i class="fas fa-arrow-circle-right"></i>
                </a>
            </div>
            <div class="small-box bg-info">
                <div class="inner">
                    <p>Master Page</p>
                </div>
                <div class="icon">
                    <i class="fas fa-shopping-cart"></i>
                </div>
                <a asp-area="" asp-controller="MsPage" asp-action="Index" class="small-box-footer">
                    Check This Out <i class="fas fa-arrow-circle-right"></i>
                </a>
            </div>
            <div class="small-box bg-info">
                <div class="inner">
                    <p>Master Menu</p>
                </div>
                <div class="icon">
                    <i class="fas fa-shopping-cart"></i>
                </div>
                <a asp-area="" asp-controller="MsMenu" asp-action="Index" class="small-box-footer">
                    Check This Out <i class="fas fa-arrow-circle-right"></i>
                </a>
            </div>
            <div class="small-box bg-info">
                <div class="inner">
                    <p>Master Permission</p>
                </div>
                <div class="icon">
                    <i class="fas fa-shopping-cart"></i>
                </div>
                <a asp-area="" asp-controller="MsPermission" asp-action="Index" class="small-box-footer">
                    Check This Out <i class="fas fa-arrow-circle-right"></i>
                </a>
            </div>
            <div class="small-box bg-info">
                <div class="inner">
                    <p>Master User Role</p>
                </div>
                <div class="icon">
                    <i class="fas fa-shopping-cart"></i>
                </div>
                <a asp-area="" asp-controller="MsUserRole" asp-action="Index" class="small-box-footer">
                    Check This Out <i class="fas fa-arrow-circle-right"></i>
                </a>
            </div>
            <div class="small-box bg-info">
                <div class="inner">
                    <p>Master User Role Access</p>
                </div>
                <div class="icon">
                    <i class="fas fa-shopping-cart"></i>
                </div>
                <a asp-area="" asp-controller="MsUserRoleAccess" asp-action="Index" class="small-box-footer">
                    Check This Out <i class="fas fa-arrow-circle-right"></i>
                </a>
            </div>
            <div class="small-box bg-info">
                <div class="inner">
                    <p>Master User</p>
                </div>
                <div class="icon">
                    <i class="fas fa-shopping-cart"></i>
                </div>
                <a asp-area="" asp-controller="MsUser" asp-action="Index" class="small-box-footer">
                    Check This Out <i class="fas fa-arrow-circle-right"></i>
                </a>
            </div>
            <div class="small-box bg-info">
                <div class="inner">
                    <p>Master Enum Item</p>
                </div>
                <div class="icon">
                    <i class="fas fa-shopping-cart"></i>
                </div>
                <a asp-area="" asp-controller="MsEnumItem" asp-action="Index" class="small-box-footer">
                    Check This Out <i class="fas fa-arrow-circle-right"></i>
                </a>
            </div>
        </div>*@

    </div>
</div>
